<h2>Sign up</h2>
<div class="form-container">
  <%= form_for :user,url: '/users',html: {class: 'form-horizontal'} do |t|%>
  <p>Email:</p>
  <input type="text" name="t[email]" value="<%= 'example@example.com' %>">
  <p>Password:</p>
  <input type="text" name="t[encrypted_password]">
  <p>Name:</p>
  <input type="text" name="t[name]">
  <p>First name:</p>
  <input type="text" name="t[first_name]">
  <p>Second name:</p>
  <input type="text" name="t[second_name]">
  <p>Phone number:</p>
  <input type="text" name="t[phone]">
  <input type="hidden" name="t[role]" value="<%= 2 %>">
  <div class='submit'><%= t.submit%></div>
  <% end %>'
</div>

<% u = User.new(email:"foo@bar.com", encrypted_password:'1sdf', name:'1sdf',first_name: 'lsfd', second_name: 'lsfd') %>
<% u.save %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
