%nav.navbar.navbar-expand-lg.fixed-top
  = link_to '/', class: 'navbar-brand' do
    = image_tag('abuelometro_logo.png', alt: 'Abuelometro logo', class: 'navbar-logo')
    Abuelometro
  %button.navbar-toggler{ type: 'button', data: { toggle: 'collapse', target: '#navbarToggler'}, aria: { controls: 'navbarToggler', expanded: 'false', label: 'Toggle navigation'} }
    %span.navbar-toggler-icon
  #navbarToggler.collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item
        - if user_signed_in?
          = link_to "Sign out", users_sign_out_path, :method => :delete, class:'nav-link'
        - else
          = link_to 'Iniciar sesión', '/admin', class: 'nav-link'
      %li.nav-item
        = link_to 'Acerca de nosotros', '/about-us', class: 'nav-link'
