<p id="notice"><%= notice %></p>

<p>
  <strong>Elder name:</strong>
  <%= @elder.elder_name %>
</p>

<p>
  <strong>Elder first name:</strong>
  <%= @elder.elder_first_name %>
</p>

<p>
  <strong>Elder last name:</strong>
  <%= @elder.elder_last_name %>
</p>

<p>
  <strong>Elder bloond type:</strong>
  <%= @elder.elder_bloond_type %>
</p>

<p>
  <strong>Elder birthdate:</strong>
  <%= @elder.elder_birthdate %>
</p>

<p>
  <strong>Elder weight:</strong>
  <%= @elder.elder_weight %>
</p>

<p>
  <strong>Elder height:</strong>
  <%= @elder.elder_height %>
</p>

<%= link_to 'Edit', edit_elder_path(@elder) %> |
<%= link_to 'Back', elders_path %>
